[submodule "submodules/hsmpy"]
	path = submodules/hsmpy
	url = https://github.com/bgr/hsmpy.git
	ignore = dirty
[submodule "submodules/quadpy"]
	path = submodules/quadpy
	url = https://github.com/bgr/quadpy.git
	ignore = dirty
